.chatPage{
    background-color:rgb(31,29,29);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatContainer{
    background-color: white;
    height: 60%;
    width: 50%;
}

.header{
    background-color:rgb(81, 81, 208);
    height: 15%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.header>h2{
    color: white;
    margin: 1.5vmax;
    
}

.header img{
    margin: 2.5vmax;
    transition: all 0.3s;

}
.header     img:hover{
    transform: scale(1.2);
    cursor: pointer;
}


.chatBox{
     
    height: 70%;
    box-sizing:border-box;
  

}

.inputBox{

    height: 15%;
    box-sizing:border-box;
    display: flex;

}

#chatInput{

    width: 80%;
    border:none;
    padding: 2vmax;
    box-sizing: border-box;
    background-color: white;
    outline: none;
    font-size: 1.2vmax;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    border-top:0.2vmax solid rgb(130, 123, 123) ;
}

.sendBtn{
    background-color:rgb(81, 81, 208);
    color: white;
    border: none;
    width:21% ;
  transition: all 0.3s ;
  cursor: pointer;

 
}

.sendBtn>img{
    width: 2.6vmax;
    filter: brightness(100) invert();
    transition: all 0.3s;
}
.sendBtn:hover{
    background-color: rgb(62, 62, 158);

}

.sendBtn:hover img{
    transform: translateX(10px);
}


@media only screen and (max-width: 600px) {
    .chatContainer{
        
        height: 100%;
        width: 100%;
      
    }

    .header{
        background-color:rgb(81, 81, 208);
        height: 10%;
    }

    .header img{
        margin: 2.5vmax;
        transition: all 0.3s;
        transform: scale(1.4);
    }

    .inputBox{
        height: 9%; 
    }
    #chatInput{

        width: 80%;
        border:none;
        padding: 2vmax;
        position:relative;
        top: 41px;
        box-sizing: border-box;
        background-color: white;
        outline: none;
        font-size: 2.3vmax;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
        border-top:0.2vmax solid rgb(130, 123, 123) ;
    }

    .sendBtn{
        position: relative;
        top: 41px;
    }
    .sendBtn:hover img{
        transform: none;
    }
    body {
        overflow: hidden;
      }
      
}
 
